mixin card(img)
  // card
  a(href="#").card(data-aos="fade-up")
    .card__img
      img(src= img, alt="")
    .card__content 
      .card__title Букет <br>из пионов
    .card__bottom 
      .card__price 2500 &#8381;
      .card__icon 
  //	/card