mixin header_inner(title, icon)
	// header
	header.header#header

		.header__top 

			.container.d-flex.align-items-center.h-100

				a(href="#").header__hamburger
					img(src="img/arrow.svg", alt="")

				.header__title= title
				
				a(href="#").header__icon 
					img(src= icon, alt="")

	// /header