extends blocks/base.pug

block title 
	title Навигация по страницам

block content

	include blocks/card.pug

	.page

		include blocks/header.pug
		
		.content
			
			.navPage 
				.container
					h1 Навигация по страницам
					ul 
						li 
							a(href="home.html") Главная
						li 
							a(href="filter.html") Фильтр
						li
							a(href="product.html") Страница товара
						li 
							a(href="cart.html") Корзина
						li 
							a(href="order_1.html") Оформление заказа (шаг 1)
			
		include blocks/footer.pug