extends blocks/base.pug

block title 
	title Страница товара

block content

	.page

		//- include blocks/header_inner.pug
		
		.content

			// product
			.product
				.container 
					.product__slider#sliderProductPage
						.swiper-wrapper
							.swiper-slide
								.product__img 
									img(src="img/product.jpg", alt="")
							.swiper-slide
								.product__img 
									img(src="img/product.jpg", alt="")
							.swiper-slide
								.product__img 
									img(src="img/product.jpg", alt="")
						.product__pagination.swiper-pagination

					.product__size-flower 
						img(src="img/flower.svg", alt="")
						span 
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.146 4.8539C10.0995 4.80741 10.0627 4.75222 10.0375 4.69148C10.0123 4.63074 9.99939 4.56564 9.99939 4.4999C9.99939 4.43416 10.0123 4.36905 10.0375 4.30832C10.0627 4.24758 10.0995 4.19239 10.146 4.1459C10.1925 4.09941 10.2477 4.06253 10.3084 4.03738C10.3692 4.01222 10.4343 3.99927 10.5 3.99927C10.5658 3.99927 10.6309 4.01222 10.6916 4.03738C10.7523 4.06253 10.8075 4.09941 10.854 4.1459L13.854 7.1459C13.9006 7.19234 13.9375 7.24752 13.9627 7.30827C13.9879 7.36901 14.0009 7.43413 14.0009 7.4999C14.0009 7.56567 13.9879 7.63079 13.9627 7.69153C13.9375 7.75228 13.9006 7.80745 13.854 7.8539L10.854 10.8539C10.7601 10.9478 10.6328 11.0005 10.5 11.0005C10.3672 11.0005 10.2399 10.9478 10.146 10.8539C10.0521 10.76 9.99939 10.6327 9.99939 10.4999C9.99939 10.3671 10.0521 10.2398 10.146 10.1459L12.293 7.9999L3.70702 7.9999L5.85402 10.1459C5.94791 10.2398 6.00065 10.3671 6.00065 10.4999C6.00065 10.6327 5.94791 10.76 5.85402 10.8539C5.76014 10.9478 5.6328 11.0005 5.50002 11.0005C5.36725 11.0005 5.23991 10.9478 5.14602 10.8539L2.14602 7.8539C2.09946 7.80745 2.06252 7.75228 2.03731 7.69153C2.0121 7.63079 1.99913 7.56567 1.99913 7.4999C1.99913 7.43413 2.0121 7.36901 2.03731 7.30826C2.06252 7.24752 2.09946 7.19234 2.14602 7.1459L5.14602 4.1459C5.23991 4.05201 5.36725 3.99927 5.50002 3.99927C5.6328 3.99927 5.76014 4.05201 5.85402 4.1459C5.94791 4.23979 6.00065 4.36712 6.00065 4.4999C6.00065 4.63267 5.94791 4.76001 5.85402 4.8539L3.70702 6.9999L12.293 6.9999L10.146 4.8539Z" fill="#545454"/>
							</svg>
							span 50см
							span 
								<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.854632 3.85392C0.808144 3.90041 0.752955 3.93728 0.692215 3.96244C0.631476 3.9876 0.566375 4.00055 0.500632 4.00055C0.434888 4.00055 0.369787 3.9876 0.309048 3.96244C0.248309 3.93728 0.193119 3.90041 0.146631 3.85392C0.100144 3.80743 0.0632672 3.75224 0.0381081 3.6915C0.012949 3.63076 -4.8983e-10 3.56566 0 3.49992C4.8983e-10 3.43417 0.012949 3.36907 0.0381081 3.30833C0.0632672 3.24759 0.100144 3.19241 0.146631 3.14592L3.14663 0.145917C3.19308 0.0993539 3.24825 0.0624112 3.309 0.0372047C3.36974 0.0119983 3.43486 -0.000976562 3.50063 -0.000976562C3.5664 -0.000976562 3.63152 0.0119983 3.69227 0.0372047C3.75301 0.0624112 3.80819 0.0993539 3.85463 0.145917L6.85463 3.14592C6.94852 3.2398 7.00126 3.36714 7.00126 3.49992C7.00126 3.63269 6.94852 3.76003 6.85463 3.85392C6.76074 3.9478 6.63341 4.00055 6.50063 4.00055C6.36786 4.00055 6.24052 3.9478 6.14663 3.85392L4.00063 1.70692V10.2929L6.14663 8.14592C6.24052 8.05203 6.36786 7.99929 6.50063 7.99929C6.63341 7.99929 6.76074 8.05203 6.85463 8.14592C6.94852 8.2398 7.00126 8.36714 7.00126 8.49992C7.00126 8.63269 6.94852 8.76003 6.85463 8.85392L3.85463 11.8539C3.80819 11.9005 3.75301 11.9374 3.69227 11.9626C3.63152 11.9878 3.5664 12.0008 3.50063 12.0008C3.43486 12.0008 3.36974 11.9878 3.309 11.9626C3.24825 11.9374 3.19308 11.9005 3.14663 11.8539L0.146631 8.85392C0.0527449 8.76003 -3.42688e-09 8.63269 0 8.49992C3.42689e-09 8.36714 0.0527448 8.2398 0.146631 8.14592C0.240518 8.05203 0.367856 7.99929 0.500632 7.99929C0.633407 7.99929 0.760745 8.05203 0.854632 8.14592L3.00063 10.2929V1.70692L0.854632 3.85392Z" fill="#545454"/>
								</svg>
								span 70см

					form(action="#").product__content 
						.product__title БУКЕТ ИЗ ПИОНОВ
						.product__sub Выберите размер:
						
						.product__sizes 
							.product__size 
								input#size_0(type="radio" name="sizes").product__size-input
								label(for="size_0").product__size-label
									span.product__size-radio
									span.product__size-name РАЗМЕР L
									span.product__size-price 3500₽
							.product__size
								input#size_1(type="radio" name="sizes" checked).product__size-input
								label(for="size_1").product__size-label
									span.product__size-radio
									span.product__size-name РАЗМЕР XL 
										span (на фото)
									span.product__size-price 5500₽
							.product__size 
								input#size_2(type="radio" name="sizes").product__size-input
								label(for="size_2").product__size-label
									span.product__size-radio
									span.product__size-name РАЗМЕР XXL
									span.product__size-price 7500₽
							.product__size 
								input#size_3(type="radio" name="sizes").product__size-input
								label(for="size_3").product__size-label
									span.product__size-radio
									span.product__size-name РАЗМЕР WOW
									span.product__size-price 10500₽

						.product__description 
							.product__subtitle ОПИСАНИЕ БУКЕТА
							.product__text
								p Нежный, насыщенный и ароматный букет белых альстромерий, лавандовых роз и сантини.<br>Приятный и уникальный оттенок, оригинальное сочетание цветов и нежный аромат порадует любую девушку и создаст настроение на весь день!
								p 
									ul 
										li Роза Маритим - 5 шт.
										li Альстромерия Белая - 4 шт.
										li Сантини сиреневая - 3 шт.
										li Ветки фисташки - 1 шт.
										li Упаковка: тишью и дизайнерский крафт.

						.product__postcard 
							img(src="img/sheet_icon.svg", alt="")
							span Бесплатная открытка к цветам
						
						.product__buttons
							button(type="submit").btn.btn--large.btn--purple ОФОРМИТЬ ЗАКАЗ
							a(href="#").btn.btn--large.btn--white КУПИТЬ В 1 КЛИК

			//	/product
			
		include blocks/footer.pug