.card {
  display: block;
  height: 100%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  color: $text;
  border: none;
  box-shadow: $box_shadow;
  background-color: $white;
  display: flex;
  flex-direction: column;
  transition-property: opacity, transform, box-shadow !important;
  &__img {
    height: 162px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 8px 5px 0;
    flex-grow: 1;
  }
  &__title {
    font-size: 18px;
  }
  &__text {
    color: $prompt;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 8px;
  }
  &__price {
    font-weight: bold;
  }
  &__icon {
    width: 31px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='43' viewBox='0 0 46 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.2618 10.3421C39.0839 10.1528 38.8642 10.001 38.6175 9.89684C38.3709 9.79271 38.1029 9.73869 37.8318 9.73844H11.6919L11.3231 7.70163C11.2496 7.29304 11.0219 6.9218 10.6804 6.65394C10.3389 6.38607 9.90571 6.23896 9.45796 6.23877H5.20189C4.70021 6.23877 4.21908 6.42313 3.86434 6.75129C3.50959 7.07944 3.3103 7.52452 3.3103 7.98861C3.3103 8.45269 3.50959 8.89777 3.86434 9.22593C4.21908 9.55409 4.70021 9.73844 5.20189 9.73844H7.85578L11.3741 29.2736L11.4593 29.4906L11.5614 29.7548L11.7884 30.0681L11.9681 30.264L12.3332 30.4915L12.545 30.6053C12.765 30.6903 13.0008 30.7349 13.2392 30.7365H34.0486C34.5503 30.7365 35.0314 30.5521 35.3861 30.224C35.7409 29.8958 35.9402 29.4507 35.9402 28.9867C35.9402 28.5226 35.7409 28.0775 35.3861 27.7493C35.0314 27.4212 34.5503 27.2368 34.0486 27.2368H14.8433L14.5293 25.487H35.9402C36.3954 25.487 36.8353 25.3353 37.1793 25.0595C37.5233 24.7837 37.7482 24.4024 37.8128 23.9856L39.7044 11.7368C39.7427 11.4885 39.723 11.2356 39.6467 10.995C39.5703 10.7544 39.4391 10.5318 39.2618 10.3421ZM35.6508 13.2381L35.1117 16.7378H28.3738V13.2381H35.6508ZM26.4822 13.2381V16.7378H20.8075V13.2381H26.4822ZM26.4822 18.4876V21.9873H20.8075V18.4876H26.4822ZM18.9159 13.2381V16.7378H13.2411L12.9612 16.7903L12.3218 13.2381H18.9159ZM13.2676 18.4876H18.9159V21.9873H13.8975L13.2676 18.4876ZM28.3738 21.9873V18.4876H34.8393L34.3002 21.9873H28.3738Z' fill='%23C5528B'/%3E%3Cpath d='M16.0785 37.7353C17.6455 37.7353 18.9158 36.5602 18.9158 35.1106C18.9158 33.661 17.6455 32.4858 16.0785 32.4858C14.5114 32.4858 13.2411 33.661 13.2411 35.1106C13.2411 36.5602 14.5114 37.7353 16.0785 37.7353Z' fill='%23C5528B'/%3E%3Cpath d='M33.1028 37.7353C34.6698 37.7353 35.9401 36.5602 35.9401 35.1106C35.9401 33.661 34.6698 32.4858 33.1028 32.4858C31.5357 32.4858 30.2654 33.661 30.2654 35.1106C30.2654 36.5602 31.5357 37.7353 33.1028 37.7353Z' fill='%23C5528B'/%3E%3C/svg%3E%0A");
    background-size: contain;
  }
  &:hover {
    color: $text;
  }
}